<div class="mobile-icon" (click)="menuOpened = !menuOpened">
  <span class="icon-text">MENU</span>
  
  <div class="nav-icon" [class.open]="menuOpened" >
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
<ul [class.close-menu]="!menuOpened" class="mobile-menu">
  <li *ngFor="let navItem of navItems">
    <a [routerLinkActive]="['active']" class="navLink" (click)="menuOpened = false" routerLink="{{navItem.link}}">{{navItem.text}}</a>
    <!-- <a [routerLink]='{{navItem.link}}' routerLinkActive="link-active">{{navItem.text}}</a> -->
  </li>
</ul>
