$color-link: #FFF;
$color-link-active: #000;

$color-q1: #B1487D;
$color-q1-light: #D074A3;
$color-q1-lighter: #E4A4C5;
$color-q1-dark: #9A2862;
$color-q1-darker: #781145;

$color-q2: #D86D57;
$color-q2-light: #FDA08D;
$color-q2-lighter: #FDA08D;
$color-q2-dark: #BB4931;
$color-q2-darker: #922B15;

$color-q3: #3F9D62;
$color-q3-light: #66B885;
$color-q3-lighter: #99D5AF;
$color-q3-dark: #248849;
$color-q3-darker: #0F6A31;

$color-q4: #9CC851;
$color-q4-light: #C4EB82;
$color-q4-lighter: #DAF4AF;
$color-q4-dark: #7EAD2E;
$color-q4-darker: #5C8713;
