main {
  text-align: center;
}
.main-title {
  font-size: calc(4vw + 2vh);
}

.logo {
  font-size: 3rem;
  line-height: 0.9;
  display: inline-block;
  max-width: 200px;
}

.quadrants {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.quadrant {
  padding: 20px;
  display: flex;
  transition: all 0.5s;
  flex-wrap: nowrap;
}

.q1 {
  flex: 50% 1 0;
  height: 50%;
  min-width: 200px;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

.q2 {
  flex: 50% 1 0;
  height: 50%;
  min-width: 200px;
  justify-content: center;
  align-items: center;

}

.q3 {
  flex: 50% 1 0;
  height: 50%;
  min-width: 200px;
  justify-content: flex-end;
}

.q4 {
  flex: 50% 1 0;
  height: 50%;
  min-width: 200px;
  align-items: center;
  justify-content: center;
  padding: 0;
  flex-wrap: wrap;
}

.controls {
  flex: 1 0 100%;
  align-self: flex-end;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.controls .prev, .controls .next {
  height: 30px;
  background-color:#4FAF00;
  width: 30px;
  border-radius: 50%;
  margin: 0 15px 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
}


.controls .bar {
  height: 15px;
  flex-basis: 100%;
  background-color: #4FAF00;
}
.controls .bar-fill {
  height: 100%;
  width: 20%;
  background-color: #3F8A00;
}

@media (max-width:520px){
  .logo {
    font-size: 1.2rem;
    max-width: none;
  }

  .main-title {
    font-size: 1.5rem;
    color: #FFAA63;
  }

  .q1 {
    flex: 80px 0 0;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .q2 {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: calc(100% - 140px);
    overflow: hidden;
  }

  .q3 {
    flex: 60px 0 0;
    align-items: center;
    justify-content: center;
  }

  .q1, .q2, .q3 {
    height: 70px;
  }

  .q4 {
    flex: 100% 0 0;
    height: calc(100% - 70px);
  }

  .quadrant {
    min-width: initial;
    padding: 10px;
  }
}
