@import '_global-variables';

.time {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  display: inline-block;
  z-index: 2;
}

main {
  text-align: center;
}
.main-title {
  font-size: calc(4vw + 2vh);
}

.logo {
  font-size: 3em;
  line-height: 0.9;
  display: inline-block;
  max-width: 200px;
}

.quadrants {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;

  .quadrant {
    padding: 20px;
    display: flex;
    transition: all 0.5s;
    flex-wrap: nowrap;
    overflow: hidden;
  }

  .q1 {
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .q2 {
    width: 50%;
    height: 50%;
    align-items: center;
    padding-left: 100px; 

  }

  .q3 {
    width: 50%;
    height: 50%;
    justify-content: flex-end;
  }

  .q4 {
    width: 50%;
    height: 50%;
    align-items: center;
    justify-content: center;
    padding: 0;
    flex-direction: column;  
    position: relative;
  }
}

.controls {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  z-index: 2;

  .prev, .next {
    border-radius: 25px;
    margin: 0 15px 15px 0;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-link;
    text-decoration: none;
    max-height: 48px;
    
    
    &:after {
      transition: all 0.5s;
    }

    &.disabled {
      pointer-events: none;
      background:#BBB ;

    }

    /*&.prev-section{
      transform: rotate(90deg);
    }
    &.next-section{
      transform: rotate(90deg);
    }*/
  }


  .bar {
    height: 15px;
    flex-basis: 100%;
    display: flex;
  }

  .bar-step  {
    height: 100%;
    flex-grow: 1;
    border-right: 2px solid $color-q4;
  }

  .bar-step:last-child {
    border-right-width: 0;
  }

  .bar-passed {
    background-color: $color-q4-darker;
  }

  .bar-next {
    background-color: $color-q4-dark;
  }

  .bar-link {
    display: block;
    height: 100%;
  }
}



@media (max-width:660px){
  .logo {
    font-size: 1.2rem !important;
    max-width: none !important;
  }

  .main-title {
    font-size: 1.5rem !important;
  }

  .quadrants{
    .q1 {
      display: none;
    }

    .q2 {
      flex-shrink: 1 !important;
      flex-grow: 1 !important;
      flex-basis: calc(100% - 140px) !important;
      overflow: hidden !important;
      justify-content: center;
    }

    .q3 {
      flex: 130px 0 0 !important;
      align-items: center !important;
      justify-content: center !important;
    }

    .q1, .q2, .q3 {
      height: 70px !important;
      padding: 10px !important;
    }

    .q4 {
      flex: 100% 0 0 !important;
      height: calc(100% - 70px) !important;
    }

    .quadrant {
      min-width: initial !important;      
      border:none  !important;
    }
  }
}
