<div class="time" (dblclick)="resetCountDown()">
  {{ timeToShow }}
</div>
<div class="quadrants">
  <div class="quadrant q1" [ngStyle]="state.css.q1">
    <span [innerHTML]="logo" class="logo"></span>
  </div>
  <header class="quadrant q2" [ngStyle]="state.css.q2">
    <h1 class="main-title" *ngIf="pageService.activePage" >{{pageService.activePage.translation}}</h1>
  </header>
  <nav class="quadrant q3" [ngStyle]="state.css.q3">

  </nav>
  <div class="quadrant q4" [ngStyle]="state.css.q4" [class.zoomed]="zoomedIn">
      <router-outlet></router-outlet>
      <div class="controls" *ngIf="paginationControl">
        <a [routerLink]="paginationControl.prevLink" class="prev" [ngClass]="{'disabled': paginationControl.prevDisabled, 'prev-section':paginationControl.hasPrevSection}"></a>
        <a [routerLink]="paginationControl.nextLink" class="next" [ngClass]="{'disabled': paginationControl.nextDisabled, 'next-section':paginationControl.hasNextSection}"></a>
        <div class="bar">
          <div *ngFor="let step of pagination" [ngClass]="step.class" class="bar-step">
            <a class="bar-link" [routerLink]="[step.link]"></a>
          </div>
        </div>


      </div>
  </div>
</div>
